body{
    margin:0;
    background:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
    font-family:Arial;
    color:white;
}

canvas{
    border:2px solid white;
    image-rendering: pixelated;
    background:#111;
}

.info{
    position:absolute;
    top:10px;
    left:10px;
    font-size:20px;
}
